.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  background-color: $gray-900;
  color: $gray-100;
  scroll-snap-align: start;
  // scroll-padding-top: 2rem;

  .projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-top: 1.5rem;
    

    span {
      position: relative;
      color: $light-blue-200;
      font-size: 2rem;
      font-weight: 600;
      top: 0.1rem;
      cursor: pointer;
      transition: color 0.3s;

      &.scroll-button-off {
        color: $gray-600;
      }
    } 

    h2 {
      font-size: 2.5rem;
    }
  }

  .project-cards-wrapper {
    // @include responsive-padding;
    display: flex;
    align-items: center;
    gap: 2rem;

    max-width: 100vw;
    overflow: auto;
    margin: auto 0;
  }

  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: $light-blue-200;
    transform-origin: 0%;
  }
}

.embla {  
  overflow: hidden;
  
}
.embla__container {  
  display: flex;
  height: 39rem;
  width: 100%;
  padding-top: 0.5rem;
  gap: 1rem;
}
.embla__slide {  
  display: flex;
  justify-content: center;
  flex: 0 0 100%;  
  min-width: 20rem;
  padding: 0 0.75rem;
}