.about-me-container {
  @include responsive-padding(2rem, 2rem);
  position: relative;
  height: 100dvh;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  scroll-snap-align: start;
  overflow-y: auto;
  // scroll-padding-top: 2rem;
  // padding-top: 2rem;
  background-color: $gray-900;
  color: $gray-100;

  display: flex;
  flex-direction: column;

  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: max-content;

    span {
      position: relative;
      color: $light-blue-200;
      font-size: 2rem;
      font-weight: 600;
      top: 0.1rem;
    } 

    h2 {
      font-size: 2.5rem;
    }
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

    font-size: 1.25rem;
    height: auto;
    margin-top: 3rem;
    padding: 0 0.5rem;

    cursor: default;

    :not(:first-child) {
      margin-top: 1rem;
    }
  }

  .my-photo {
    width: 16rem;
    height: 16rem;
    min-height: 16rem;
    border-radius: 50%;
    background: url(#{$assetsUrl}/justMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 3rem auto 0 auto;
    filter: drop-shadow(0 0 6px $light-blue-200);
  }
}