.about-me-container {
  @include responsive-padding;
  position: relative;
  height: 100dvh;
  max-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  scroll-padding-top: 2rem;
  padding-top: 2rem;
  background-color: $gray-900;
  color: $gray-100;

  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    span {
      position: relative;
      color: $light-blue-200;
      font-size: 2rem;
      font-weight: 600;
      top: 0.1rem;
    } 

    h2 {
      font-size: 2.5rem;
    }
  }

  .about-me-text {
    font-size: 1.25rem;
    margin-top: 4rem;

    :not(:first-child) {
      margin-top: 1rem;
    }
  }

  .my-photo {
    width: 16rem;
    height: 16rem;
    min-height: 16rem;
    border-radius: 50%;
    background: url(#{$assetsUrl}/justMe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 4rem auto 0 auto;
    filter: drop-shadow(0 0 6px $light-blue-200);
  }
}